.header {
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-gap: 10px;
	height: 20vh;
	margin-bottom: 10px;
}

.logo {
	background-image: url(../images/logo.png);
	background-position: center;
	background-size: contain;
	border: 3px white solid;
}

.menu {
	padding: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

a {
	text-decoration: none;
}

.container {
	background-image: url(../images/about.png);
	background-position: center;
	background-size: contain;
	height: 75vh;
	border: 2px white solid;
}

h1 {
	text-align: center;
	font-family: Bebas Neue;
	color: white;
}

.container2 {
	height: 75vh;
	border: 2px white solid;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px;
}

.footer {
	border: 2px white solid;
	height: 15vh;
	padding: 10px;
}

ul {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-gap: 20px;
	padding: 0px;
}

li {
	list-style: none;
	text-align: center;
	font-family: Bebas Neue;
	padding: 10px;	
	border: 2px white solid;
	color: white;
}

p {
	font-size: 45px;
	color: white;
	font-family: Bebas Neue;
}

body {
	background-image: url(../images/body.jpg);
	background-position: center;
	background-size: contain;
}